<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="仿酷狗音乐.css">

</head>

<body>
    <div id="warp">
        <div class="box">
            <div class="box_nav">
                <input type="text" @keyup.enter="searchMusic" v-model="query"><button></button>
                <img src="../images/酷狗音乐.png" alt="">
            </div>
            <div class="divder">
                <div class="box_list">
                    <ul>
                        <li v-for="item in musicList">
                            <a href="#" @click="playMusic(item.id)"></a>
                            <span>{{ item.name }}</span>
                            <a href="#" v-if="item.mvid != 0" @click="playMv(item.mvid)"></a>
                        </li>
                    </ul>
                </div>
                <div class="box_mv">
                    <video controls="controls" :src="mvUrl"></video>
                </div>
                <div class="box_words">
                    <h5 class='title'>热门留言</h5>
                    <div class="box_words_group" v-for="item in hotComments">
                        <img :src="item.user.avatarUrl" alt="" class="box_words_group_album">
                        <div class="box_words_group_inner">
                            <h5 style="color: #fff;">{{ item.user.nickname }}</h5>
                            <p>{{ item.content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="audio">
                <audio :src="musicUrl" controls autoplay loop></audio>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="仿酷狗音乐.js"></script>
    <script>
    </script>
</body>

</html>